{% extends 'base.html' %}
{%load static%}
{% block title %} BlogHome {% endblock title %}

{% block js %}
<script>
    let previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach((element))=> ({
        element.innerHTML = element.innerText;
    })
      
      {% endblock js %}

    {% block blogactive %} active {% endblock blogactive %}


    {% block body %}
    <div class="container my-8">
       
        <section class="featured-articles section section-header-offset">
             <h2> Articles by CodeWizards</h2>

        <div class="featured-articles-container container d-grid">

            {% comment %} <div class="featured-content d-grid">

                <div class="headline-banner">
                    <h3 class="headline fancy-border">
                        <span class="place-items-center">Breaking news</span>
                    </h3>
                </div>
                {% for post in allPosts  %}
                <a href="/blog/{{post.slug}}" class="article featured-article featured-article-1">
                    <img src="{{post.dispic}}" alt="" class="article-image">
                    <span class="article-category">{{post.category}}</span>

                    <div class="article-data-container">

                        <div class="article-data">
                            <span>{{post.timeStamp}}</span>
                            <span class="article-data-spacer"></span>
                            <span>{{post.views}} Views</span>
                        </div>

                        <h3 class="title article-title">{{post.title}}</h3>

                    </div>
                </a>

                {% endfor %}

            </div> {% endcomment %}
            
            {% comment %} <div class="sidebar d-grid">

                <h3 class="title featured-content-title">Trending news</h3>

                <div class="trending-news-img-box">
                        <a href="/blog/{{post.slug}}" class="trending-news-box">
                        <span class="trending-number place-items-center">01</span>
                        <img src="./assets/images/trending/trending_1.jpg" alt="" class="article-image">
                    </div>

                    <div class="trending-news-data">
                        <div class="article-data">
                            <span>{{post.timeStamp}}</span>
                            <span class="article-data-spacer"></span>
                            <span>{{post.views}} Views</span>
                        </div>

                        <h3 class="title article-title">{{post.title}}</h3>

                    </div>
                </a>


            </div> {% endcomment %}

        </div>

    </section>
  </div>
    <div class="container my-8">
      
        <!-- Quick read -->
        <section class="quick-read section">
    
            {% comment %} <div class="container">
    
                <h2 class="title section-title" data-name="Quick read">Quick read</h2>
                <!-- Slider main container -->
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% for post in allPosts  %}
                        <a href="/blog/{{post.slug}}" class="article swiper-slide">
                            <img src="{{post.dispic}}" alt="" class="article-image">
    
                            <div class="article-data-container">
                                <div class="article-data">
                                    <span>{{post.timeStamp}}</span>
                                    <span class="article-data-spacer"></span>
                                    <span>{{post.views}} Views</span>
                                </div>
                                <h3 class="title article-title">{{post.title}}</h3>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- Navigation buttons -->
                    <div class="swiper-button-prev swiper-controls"></div>
                    <div class="swiper-button-next swiper-controls"></div>
                    <!-- Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
    
            </div>
     {% endcomment %}
        </section>
      
    </div>
    <div class="container my-8">
    
        <section class="older-posts section">

            <div class="container">
    
    
                <div class="older-posts-grid-wrapper d-grid">
                    {% for post in allPosts  %}
                    <a href="/blog/{{post.slug}}" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="{{post.dispic}}" alt="" class="article-image">
                        </div>
    
                        <div class="article-data-container">
    
                            <div class="article-data">
                                <span>{{post.datetime}}</span>
                                <span class="article-data-spacer"></span>
                                <span>{{post.views}} Views</span>
                            </div>
    
                            <h3 class="title article-title">{{post.title}}</h3>
                            <p class="article-description"> {{post.content|safe| truncatechars:200}}</p>
    
                        </div>
                    </a>
    
                    {% endfor %}
    
                </div>
    
    
         
    
        </section>
        
        {% comment %} 
        <section class="popular-tags section">

            <div class="container">
    
                <h2 class="title section-title" data-name="Popular tags">Popular tags</h2>
    
                <div class="popular-tags-container d-grid">
    
                    <a href="#" class="article">
                        <span class="tag-name">#Travel</span>
                        <img src="{% static 'images/tags/travel-tag.jpg' %}" alt="" class="article-image">
                    </a>
    
                    <a href="#" class="article">
                        <span class="tag-name">#Food</span>
                        <img src="{% static 'images/tags/food-tag.jpg' %}" alt="" class="article-image">
                    </a>
    
                    <a href="#" class="article">
                        <span class="tag-name">#Technology</span>
                        <img src="{% static 'images/tags/technology-tag.jpg' %}" alt="" class="article-image">
                    </a>
    
                    <a href="#" class="article">
                        <span class="tag-name">#Health</span>
                        <img src="{% static 'images/tags/health-tag.jpg' %}" alt="" class="article-image">
                    </a>
    
                    <a href="#" class="article">
                        <span class="tag-name">#Nature</span>
                        <img src="{% static 'images/tags/nature-tag.jpg' %}" alt="" class="article-image">
                    </a>
    
                    <a href="#" class="article">
                        <span class="tag-name">#Fitness</span>
                        <img src="{% static 'images/tags/fitness-tag.jpg' %}" alt="" class="article-image">
                    </a>
    
                </div>
    
            </div>
        </section> 
        {% endcomment %}
        <!-- Newsletter -->
        <section class="newsletter section">
    
            <div class="container">
    
                <h2 class="title section-title" data-name="Newsletter">CodeWizards</h2>
    
                <div class="form-container-inner">
                    <h6 class="title newsletter-title">Subscribe to CodeWizards</h6>
                    <p class="newsletter-description">Reach Out For Solutions</p>
    
                    <form action="" class="form">
                        <input class="form-input" type="text" placeholder="Enter your email address">
                        <button class="btn form-btn" type="submit">
                            <i class="ri-mail-send-line"></i>
                        </button>
                    </form>
    
                </div>
    
            </div>
    
        </section>
   </div>
        {% endblock %}